__pycache__/
*.pyc
*.pyo
*.pyd

# Rapports générés
reports/*
!reports/.gitkeep

# Environnements virtuels
.venv/
venv/
env/

# Pytest
.pytest_cache/
.coverage

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Règles YARA compilées
*.compiled.yar

# Variables d'environnement
.env
